body {
    display: flex;
    flex-direction: column;
}
.container {
    width: 700px;
    margin: 0 auto;
}
h1 {
    font-family: Playfair Display, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 50px 0 30px;
}
hr {
    width: 200px;
    background: #000;
    margin: 15px 0;
    border: none;
    height: 2px;
}
.trois-items {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-info {
    font-size: 18px;
}
.trois-items img {
    width: 100px;
}
.item {
    margin: 0 25px;
    text-align: center;
}
.item h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.btn-contact {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    border: 1px solid #000;
    width: 300px;
    padding: 10px;
    margin: 20px auto 70px;
    border-radius: 5px;
}

@media screen and (max-width: 700px){
    h1 {
        margin: 30px 0 30px;
        font-size: 40px;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .trois-items {
        margin: 30px 0;
        flex-direction: column;
    }
    .item {
        margin: 25px;
        text-align: center;
    }
    .btn-contact {
        font-size: 22px;
        width: 200px;
        padding: 5px;
        margin: 20px auto 50px;
    }
}
